@model BookingApplication.Models.BookReservation



<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddToBookingListConfirmed">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumberOfNights" class="control-label"></label>
                <input asp-for="NumberOfNights" class="form-control" />
                <span asp-validation-for="NumberOfNights" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ReservationId" class="form-control" />
            <input type="hidden" asp-for="BookingListId" class="form-control" />

            <div class="form-group">
                <input type="submit" value="Add to booking" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>